html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, container, header, text, showcase, latest, footer {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-family: inherit;
vertical-align: baseline;
text-rendering: optimizelegibility;
}

strong {font-weight:bold;}

#editLabelForm { margin-bottom:20px; }
#addLabelForm { margin-top:20px;}

.glyphicon, .bcicon {
position: relative;
display: inline-block;
vertical-align:middle;
font-family: 'BCicons';
-webkit-font-smoothing: antialiased;
font-size:12px;
font-style: normal;
font-weight: normal;
line-height: 1;
-moz-osx-font-smoothing: grayscale;
}
.glyphicon-eye-open:before {
content: "\0065";
}
.glyphicon-eye-close:before {
content: "\0045";
color: #555;
}

h1 {
font-size: 18px;
line-height: 36px;
margin: 18px 0;
}
hr {border-top: 1px solid #e5e5e5;}
.clear { clear:both; }
.hide {display:none;}
.new-item-added-message, .saved-message {float:left; padding: 7px 25px 5px; margin-bottom:0; margin-left:15px;}
span.req {
color: #f00;
font-weight: bold;
}
ol, ul, li {
list-style: none;
}
input, select, textarea {
font-size: 12px;
}
a:hover, a:active {
color: #000;
cursor: pointer;
cursor: hand;
text-decoration: none;
}
pre {
	color:#d40003;
	background-color:#eee;
	border:#aaa;
	border-radius:3px;
	padding:18px;
	margin-top:10px;	
}
#container-body select {
border: 1px solid #898989;
color: #383939;
-moz-box-shadow: inset 0 1px 2px #ccc;
-webkit-box-shadow: inset 0 1px 2px #ccc;
box-shadow: inset 0 1px 2px #ccc;
padding: 2px;
-webkit-border-radius: 2px !important;
-moz-border-radius: 2px !important;
border-radius: 2px !important;
}
ul.webform, ul.customform {
border-bottom: 1px dotted #d7d7d7;
margin: 0;
}
ul.webform li, ul.customform li {
border: 1px dotted #d7d7d7;
border-bottom: 1px solid transparent;
list-style: none;
padding: 9px;
position: relative;
}
ul.webform li.set, ul.customform li.set {
border: 1px dotted #d7d7d7;
border-bottom: 1px solid transparent;
padding: 0 0 9px;
position: relative;
}

ul.webform li:hover {background-color:#f0f8ff;}

ul.webform li.set .sortableItem {
padding: 9px 9px 0 9px;
list-style: none;
display:inline-block;
}
#sortable-list1,#sortable-list2{list-style:none;margin:0;padding:0 0 25px;width:50%;float:left;min-height:300px;}
.ui-state-highlight {margin-top:5px; height: 48px; background-color:#F8F8F8}
.rcbInput {
cursor: default;
width: 28px;
max-width: 28px;
background: none repeat scroll 0 0 transparent !important;
border: 0 none !important;
outline: 0 none;
padding: 2px 0 1px 2px !important;
vertical-align: middle;
}
.rcbList {padding-left:3px}
.rcbList {
list-style: none;
margin: 0;
padding: 0;
zoom: 1;
}
.rcbItem {
padding: 2px 6px;
margin: 0 1px;
cursor: pointer;
}
.rcbItem:hover {
background: #dfdfdf;
}
.sortable-item-container,.sortable-item-sub-container-top,.sortable-item-sub-container {clear:both;margin-top:5px; height:auto; min-height:30px; cursor: move; padding: 8px 5px 9px;}
.sortable-item-container:hover {background-color:#e2ebff;}
.sortable-item-container .sortable-item-container {margin: 5px 5px 5px -5px; }
.sortable-item-container .sortable-item-container:hover {background-color:#d2dbef;}
.sortable-item-sub-container-top {padding:0;margin-top:0;}
.sortable-item-sub-container {padding:0;height:92px;}
.sortable-item-toggle {padding:0 !important; float:left;}
.sortable-item-toggle.in-box {position:relative;}
.sortable-item-toggle button {visibility:hidden;}
.sortable-item-eye {border:none; background:none;}
.sortable-comment .sortable-item-eye {position:absolute; height:25px; top:-2px; right:2px;}
.sortable-item-image, .sortable-item-revert-image, .sortable-item-toggle-hide, .sortable-item-toggle-remove, .sortable-item-container .sortable-item-url, .sortable-item-toggle-hide, .sortable-item-toggle-target, .sortable-item-toggle-subsortable, .sortable-item-warning-message {float:left;}
.controls input[type="checkbox"] {margin: 2px 4px 4px; vertical-align:middle;}

.hybridFormContainer {padding-top:6px; padding-bottom:6px;}
.hybridFormContainer.padding {min-height: 38px;}
.hybridFormContainer.dbl.padding {min-height: 58px;}
.hybridFormContainer .hybridFormContainer {margin-top: 8px;}
.hybridFormContainer label {
width: 170px;
text-align: right;
padding: 0 10px 0 0;
font-weight: bold;
font-size: 12px;
vertical-align: middle;
display:inline-block;
}
.hybridFormContainer input, .hybridFormContainer textarea {
vertical-align: middle;
}
.hybridFormContainer .custom-input, .custom-input {width: 525px !important;}
.hybridFormContainer .custom-input-num {width: 50px !important;}
.hybridFormContainer .note {
	padding-left: 182px;
    padding-top: 3px;}
#sortable-menu1 .custom-input, #sortable-menu1 .custom-textarea,#sortable-menu2 .custom-input, #sortable-menu2 .custom-textarea {width: 275px !important;padding: 6px 5px 5px; float:left;}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
	-moz-box-shadow: 0 0 8px #5496e5;
	-webkit-box-shadow: 0 0 8px #5496e5;
	box-shadow: 0 0 8px #5496e5;

	border-color: #154bc4;
  /*  outline: 1px solid #5496e5;*/
	background: white;
}

.custom-textarea {
height: 80px;
width: 415px;
}

#hybridForm p{
	margin-left:20px
}

.hybridForm table tr td.var, .hybridForm table tr td.custom-var {
width: 170px;
text-align: right;
padding: 0 10px 0 0;
font-weight: bold;
font-size: 12px;
vertical-align: middle;
}

#access-rights-container {margin-top:6px;}
#access-rights-container label {padding-right:12px;}
#editButton {margin-left: 6px;}

.review-url {display:inline; margin:0; line-height:26px;}

input[name=reviewURL]{
display:none;
}

/* jQGrid Overrides */
.ui-jqgrid .ui-jqgrid-bdiv { overflow:hidden; }
/* End jQGrid Overrides */

/* BC Admin Styles Overrides */
.btn {float:none; display:inline;}
/* End Admin Styles Overrides */

/*jquery ui css Overrides */
.ui-state-disabled {
opacity: .80;
filter: Alpha(Opacity=80);
background-image: none;
}

.disable-cursor{
cursor:not-allowed!important;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

button.disabled{
opacity: .60;
filter: Alpha(Opacity=60);
}
.tab-disabled{
opacity: .60;
filter: Alpha(Opacity=60);
cursor:default!important;
}
#sortable-menu1,#sortable-menu2{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
/* End jquery ui css Overrides */

/*BC CSS*/
body, textarea {
font-family: Myriad-Pro, Arial, Helvetica, sans-serif!important;
margin:0;
}

a:link, a:visited {
color: #1E86E3;
cursor: pointer;
cursor: hand;
text-decoration: none;
}

a {
color: #1E86E3;
}

a, :focus {
outline: 0;
}

/*Top Tab Menu*/
#hybridSubmenu {
width: 100% !important;
background: white;
height: 40px;
border-bottom: 1px solid #e8e7e4;
float: left;
}

#hybridSubmenu, #hybridSubmenu li {
list-style: none;
margin: 0;
padding: 0;
}

#hybridSubmenu li {
float: left;
}

#hybridSubmenu li a {
display: block;
height: 40px;
line-height: 40px;
padding: 0 12px;
font-size: 11px;
font-weight: bold;
text-decoration: none;
color: #333;
}

#hybridSubmenu li.active a, #hybridSubmenu li.more-active a.morelink, .basic-button.active, .small-button.active {
background: #2996e3;
background: -moz-linear-gradient(top, #2996E3 0%, #387ED7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2996E3), color-stop(100%,#387ED7));
background: -webkit-linear-gradient(top, #2996E3 0%,#387ED7 100%);
background: -o-linear-gradient(top, #2996E3 0%,#387ED7 100%);
background: -ms-linear-gradient(top, #2996E3 0%,#387ED7 100%);
background: linear-gradient(top, #2996E3 0%,#387ED7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2996e3', endColorstr='#387ed7',GradientType=0 );
position: relative;
color: white;
text-shadow: 0 1px 1px #004B7C !important;
}

.basic-button.active, .small-button.active {
text-shadow:none !important;
border-color: #2996e3;
}

#container-body {
color: #333;
font: 12px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
line-height: 18px;
padding: 20px 20px 16px 20px!important;
clear: both;
min-width: 730px !important;
}

#hybridSubmenu .app-help {
position: relative;
float:right;
width:74px;
padding-right:20px;
}

#hybridSubmenu .bcicon-help-solid:before {
/*position: absolute;
display: block;
width: 20px;
height: 20px;
left: 10px;
top: 12px;
background-image: url("/AdminConsole/static/images/menuIcons/help.png");
background-repeat: no-repeat;*/
content: "\003F";
color: #555;
}

#hybridSubmenu .help-item-text {
float:right;
}

/*buttons*/
#hybridButtons {
clear: both;
margin-bottom: 24px !important;
}

#hybridButtons, #hybridButtons li {
list-style: none;
padding: 0;
margin: 0;
}

.basic-button {
display: inline-block;
font-size: 12px;
line-height: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
cursor: pointer;
white-space: nowrap;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin: 0 2px;
color: #333;
border-width: 1px !important;
border-color: #9c9c9c;
border-style: solid !important;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dedede));
background: -webkit-linear-gradient(top, #ffffff 0%,#dedede 100%);
background: -o-linear-gradient(top, #ffffff 0%,#dedede 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%,#dedede 100%);
background: linear-gradient(top, #ffffff 0%,#dedede 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
position: relative;
}

.small-button {
padding: 2px 10px 3px 10px;
}

#hybridButtons .basic-button {
margin-right: 10px;
}

#hybridButtonPanel .basic-button {
margin: 0 10px 0 0;
}

a.basic-button {
vertical-align: middle;
}

.large-button {
padding: 5px 15px;
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #dedede 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dedede));
background: -webkit-linear-gradient(top, #ffffff 0%,#dedede 100%);
background: -o-linear-gradient(top, #ffffff 0%,#dedede 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#dedede 100%);
background: linear-gradient(top, #ffffff 0%,#dedede 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 );
position: relative;
}

.icon-button {
padding:2px 6px 1px;
font-size: 12px;
line-height: 1.5;
vertical-align: text-top;
}

.call-to-action {
color: white !important;
text-shadow: 0 -1px 0 #0453C9 !important;
border-color: #137EDA #0D6ACC #0652BA #0652BA !important;
background: #179dfe !important;
background: -moz-linear-gradient(top, #179dfe 0%, #0461d2 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#179dfe), color-stop(100%,#0461d2)) !important;
background: -webkit-linear-gradient(top, #179dfe 0%,#0461d2 100%) !important;
background: -o-linear-gradient(top, #179dfe 0%,#0461d2 100%) !important;
background: -ms-linear-gradient(top, #179dfe 0%,#0461d2 100%) !important;
background: linear-gradient(top, #179dfe 0%,#0461d2 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#179dfe', endColorstr='#0461d2',GradientType=0 ) !important;
position: relative;
}

.floatingButtons {
position: fixed;
height: 37px;
bottom: 0;
left: 0;
right: 0;
padding: 10px 20px !important;
background: url(/AdminConsole/static/images/transparentWhite.png);
margin: 0 !important;
min-width: 709px;
-moz-box-shadow: 0px -15px 15px -15px #b6b6b6 !important;
-webkit-box-shadow: 0px -15px 15px -15px #b6b6b6 !important;
box-shadow: 0px -15px 15px -15px #b6b6b6 !important;
z-index: 800;
}

.footerbuttons {
clear: both !important;
border-top: 1px solid #d4d4d4;
padding-top: 10px;
padding-right: 20px !important;
padding-bottom: 0px !important;
padding-left: 20px !important;
margin-left: -20px;
margin-right: -20px;
}

.footerPad {
clear: both !important;
margin-bottom: 50px;
}

#bulkActions.footerbuttons {
border-top: none;
}

/*Section Headline*/
h2.hybridFormHeader, h6.hybridFormHeader, .hybridFormHeader {
font-size: 18px !important;
color: #333 !important;
margin-bottom: 18px !important;
background: white url(/AdminConsole/static/images/hybrid/title-bg.png) repeat-x left center !important;
font-weight: normal !important;
}

.hybridFormTitlewrap {
background-color: white !important;
padding-right: 10px;
font-style: normal;
}

h2 .hybridFormTitlewrap {
padding-left:20px;
background-repeat: no-repeat;
background-position: left center;
cursor:pointer;
}

h2.hybridFormExpand .hybridFormTitlewrap {
background-image: url(/AdminConsole/static/images/menuIcons/arrow_right_blue.png);
}

h2.hybridFormContract .hybridFormTitlewrap {
background-image: url(/AdminConsole/static/images/menuIcons/arrow_down_blue.png);
}

/*Filter*/
#filterList {
background: white url(/AdminConsole/static/images/hybrid/title-bg.png) repeat-x left 9px !important;
margin-bottom: 10px;
}
#filterList, #filterList li {
list-style: none;
margin: 0;
padding: 6px 0 0;
float:left;
display: block;
height: 20px;
color: #333;
}
#filterList li {
float: left;
padding-right: 13px;
background: white;
}
#filterList li a#filtersTrigger {
background: url(/AdminConsole/static/images/dropDownBlue.gif) no-repeat right center !important;
}
#filterList li a {
padding-right: 14px;
font-weight: bold;
}
#filterList li span {
margin: 0 3px;
background: #f0f0f0;
padding: 4px 6px;
}
#hybridFilters h2 {
display: none;
}
#hybridFilters {
display:none;
border: 1px solid #ccc;
width: auto;
position: absolute;
z-index: 1000;
background: white;
box-shadow: 0 4px 9px #ccc;
}
#hybridFilters .smallwindow {
padding: 10px;
clear: both;
width: auto !important;
margin: 0 !important;
}
#hybridFilters table {
width: 350px !important;
}
#hybridFilters td {
display: block;
width: 100% !important;
float: left;
}
#hybridFilters td label {
display: block;
width: 150px;
padding-right: 10px;
float: left;
font-size: 12px;
color: #333;
text-align: right;
font-weight: bold;
padding-top: 4px;
}
body #hybridFilters select {
width: 150px;
}
#hybridFilters td br {
display: none;
}
table.textb td {
margin: 0;
padding: 6px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: #fff url(/CatalystImages/jqueryui/1.8.16/themes/smoothness/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #333333;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #999;
background: #34A2FA;
font-weight: normal;
color: #212121;
}
.ui-button {
display: inline-block;
position: relative;
padding: 0;
margin-right: .1em;
text-decoration: none !important;
cursor: pointer;
text-align: center;
zoom: 1;
overflow: visible;
}
.ui-icon {
width: 16px;
height: 16px;
background-image: url(/CatalystImages/jqueryui/1.8.16/themes/smoothness/ui-icons_222222_256x240.png);
}
.ui-state-default .ui-icon {
background-image: url(/CatalystImages/jqueryui/1.8.16/themes/smoothness/ui-icons_888888_256x240.png);
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
position: absolute;
top: 50%;
margin-top: -8px;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
right: .5em;
}
.dropdown-date-button .ui-icon-triangle-2-n-s {
background-position: -64px -16px;
}
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
padding: 0 16px 1px 5px;
text-shadow: white 0px 1px 0;
}
.dropdown-date-button {
width: 150px;
text-align: left;
background: #ffffff;
text-decoration: none;
}
.dropdown-date-button {
height: 23px;
}
#hybridFilters .footerbuttons {
margin: 0 !important;
padding: 10px !important;
border-top: 1px solid #ccc !important;
}
.footerbuttons input.basic-button {
margin-right: 10px;
margin-left: 0;
}


/*Table*/
table {
border-collapse: separate;
border-spacing: 0;
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
tr.viewReview {
display: none;
}
tr.viewReview td {
padding: 5px 5px 10px 40px;
}
td a.viewReviewBtn.reviewDisabled, td a.viewReviewBtn.reviewDisabled:link, td a.viewReviewBtn.reviewDisabled:visited  {
color: #FF0000;
}
tr#emptyMessage td {
padding: 12px;
}
.RadGrid_Default .rgMasterTable{
border: 1px solid #DBDBDB !important;
}
.RadGrid_Default .rgHeader {
background: #dbdbdb !important;
padding: 6px 7px 8px 7px !important;
color: #333333 !important;
font-size: 12px !important;
font-weight: bold !important;
line-height: 1em;
text-align:left;
height: auto;
}
.rgMasterTable>tbody>tr:nth-child(odd)>td{
background: #f2f2f2;
}
.RadGrid .rgCheck input {
height: 15px;
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;
cursor: default;
}
.RadGrid .rgRow td, .RadGrid .rgAltRow td, .RadGrid .rgEditRow td, .RadGrid .rgFooter td {
padding-top: 1px !important;
padding-bottom: 2px !important;
padding-left: 7px;
padding-right: 7px;
height: 27px !important;
vertical-align: middle;
}
.RadGrid_Default .rgPager {
background: #eee;
}
.RadGrid_Default .rgPager .rgPagerCell {
border-top: 1px solid #d9d9d9;
padding: 3px 0 2px;
}
.RadGrid td.rgPagerCell {
border: 0;
padding: 5px 0 4px;
}
.rgPageFirst, .rgPagePrev, .rgPageNext, .rgPageLast {
display: inline-block;
}
.RadGrid .rgWrap {
float: left;
padding: 0 10px;
line-height: 22px;
white-space: nowrap;
}
.RadGrid .rgArrPart1 {
padding-right: 0;
}
.RadGrid .rgArrPart2 {
padding-left: 0;
}
.RadGrid .rgNumPart {
padding: 0;
}
.RadGrid .rgInfoPart {
float: right;
}
.RadGrid_Default .rgInfoPart {
float: right;
font-size: 10px;
color: #8a8a8a;
}
.RadGrid_Default .rgPageFirst:hover {
background-position: 0 -599px;
}
.RadGrid .rgPageFirst, .RadGrid .rgPagePrev {
margin-right: 1px;
}
.RadGrid .rgPageFirst, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageLast {
width: 22px;
height: 22px;
vertical-align: top;
}
.RadGrid .rgAdd, .RadGrid .rgRefresh, .RadGrid .rgEdit, .RadGrid .rgDel, .RadGrid .rgDrag, .RadGrid .rgFilter, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageFirst, .RadGrid .rgPageLast, .RadGrid .rgExpand, .RadGrid .rgCollapse, .RadGrid .rgSortAsc, .RadGrid .rgSortDesc, .RadGrid .rgUpdate, .RadGrid .rgCancel, .RadGrid .rgUngroup, .RadGrid .rgExpXLS, .RadGrid .rgExpDOC, .RadGrid .rgExpPDF, .RadGrid .rgExpCSV {
width: 16px;
height: 16px;
border: 0;
margin: 0;
padding: 0;
background-color: transparent;
background-repeat: no-repeat;
vertical-align: middle;
font-size: 1px;
cursor: pointer;
}
.RadGrid_Default .rgPageFirst {
background-position: 0 -549px;
}
.RadGrid_Default .rgPagePrev {
background-position: 0 -699px;
}
.RadGrid_Default .rgPageNext {
background-position: 0 -849px;
}
.RadGrid_Default .rgPageLast {
background-position: 0 -999px;
}
.RadGrid_Default .rgPageFirst, .RadGrid_Default .rgPagePrev, .RadGrid_Default .rgPageNext, .RadGrid_Default .rgPageLast {
width: 22px;
height: 24px;
}
.RadGrid_Default .rgAdd, .RadGrid_Default .rgRefresh, .RadGrid_Default .rgEdit, .RadGrid_Default .rgDel, .RadGrid_Default .rgFilter, .RadGrid_Default .rgPagePrev, .RadGrid_Default .rgPageNext, .RadGrid_Default .rgPageFirst, .RadGrid_Default .rgPageLast, .RadGrid_Default .rgExpand, .RadGrid_Default .rgCollapse, .RadGrid_Default .rgSortAsc, .RadGrid_Default .rgSortDesc, .RadGrid_Default .rgUpdate, .RadGrid_Default .rgCancel {
width: 16px;
height: 16px;
border: 0;
margin: 0;
padding: 0;
background-color: transparent;
background-image: url('/CatalystStyles/RadSkins/Default/Grid/sprite.gif');
background-repeat: no-repeat;
vertical-align: middle;
font-size: 1px;
cursor: pointer;
}
.RadGrid .rgPagerLabel, .RadGrid .rgPager .RadComboBox, .RadGrid .rgPager .RadInput {
margin: 0 4px 0 0;
vertical-align: middle;
}
.RadGrid_Default .rgPagerLabel, .RadGrid_Default .rgPager .RadComboBox, .RadGrid_Default .rgPager .RadInput_Default {
font-size: 10px;
margin: 0 4px 0 0;
vertical-align: middle;
}
.RadGrid .rgPageFirst, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageLast {
width: 22px;
height: 22px;
vertical-align: top;
}
.RadGrid_Default .rgNumPart a.rgCurrentPage, .RadGrid_Default .rgNumPart a.rgCurrentPage:hover {
background-position: 100% -1450px;
cursor: default;
}
.RadGrid_Default .rgNumPart a:hover, .RadGrid_Default .rgNumPart a:hover span, .RadGrid_Default .rgNumPart a.rgCurrentPage, .RadGrid_Default .rgNumPart a.rgCurrentPage span {
background: no-repeat url('/CatalystStyles/RadSkins/Default/Grid/sprite.gif');
}
.RadGrid .rgNumPart a {
float: left;
line-height: 22px;
margin: 0;
padding: 0 5px 0 0;
text-decoration: none;
}
.RadGrid_Default .rgPager td {
padding: 0;
}
.RadComboBox {
display:inline-block;
width:46px;
margin: 0;
padding: 0;
}
.RadComboBox .rcbReadOnly td.rcbArrowCell {
width: 16px;
background-position: -74px -88px;
}
.RadComboBox_Default .rcbReadOnly td.rcbArrowCellRight {
background-position: -2px -88px;
}
.RadComboBox_Default .rcbInputCellLeft, .RadComboBox_Default .rcbInputCellRight, .RadComboBox_Default .rcbArrowCellLeft, .RadComboBox_Default .rcbArrowCellRight {
background-image: url('/CatalystStyles/RadSkins/Default/ComboBox/rcbSprite.png');
}
.RadComboBox_Default, .RadComboBox_Default .rcbInput, .RadComboBoxDropDown_Default {
font: 12px "Segoe UI", Arial, sans-serif;
color: #333;
}
.RadComboBox table td.rcbInputCell, .RadComboBox .rcbInputCell .rcbInput {
padding-left: 2px;
}
.RadComboBox .rcbReadOnly .rcbInput {
cursor: default;
}
.RadComboBox:hover .rcbInputCell, .RadComboBox.active .rcbInputCell {
background-position: 0 -22px !important;
}
.RadComboBoxDropDown_Default {
background: #fff;
border-color: #c6c7d2;
border-top-color: #83868d;
}
.RadComboBoxDropDown {
border: 1px solid #c6c7d2;
}
.RadComboBox > table {
border-width: 0px;
border-collapse: collapse;
}
.pageSizeComboBox_Arrow {
overflow: hidden;
display: block;
position: relative;
outline: none;
width: 16px;
font-size: 0;
height: 22px;
line-height: 1px;
text-decoration: none;
text-indent: 9999px;
cursor: default;
}
.RadGrid .rgNumPart a.rgCurrentPage, .RadGrid .rgNumPart a.rgCurrentPage:hover, .RadGrid .rgNumPart a.rgCurrentPage span, .RadGrid .rgNumPart a.rgCurrentPage:hover span {
cursor: default;
}
.RadGrid_Default .rgNumPart a.rgCurrentPage, .RadGrid_Default .rgNumPart a.rgCurrentPage:hover {
background-position: 100% -1450px;
cursor: default;
}
.RadGrid_Default .rgNumPart a:hover, .RadGrid_Default .rgNumPart a:hover span, .RadGrid_Default .rgNumPart a.rgCurrentPage, .RadGrid_Default .rgNumPart a.rgCurrentPage span {
background: no-repeat url('/CatalystStyles/RadSkins/Default/Grid/sprite.gif');
}
.RadGrid .rgNumPart a {
float: left;
line-height: 22px;
margin: 0;
padding: 0 5px 0 0;
text-decoration: none;
}
.rcbSlide {
display: none;
position: absolute;
z-index: 6000;
min-width: 48px;
}
/*Search*/
#hybrid-search-container {
position: absolute;
float: none;
}
#hybrid-search-container {
font: 99% "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
width: 174px;
position: relative;
float: right;
right: 0;
top: 7px;
}
#hybrid-search-container input {
	width:144px;
font-size: 12px;
padding: 3px 3px 3px 24px;
background-image: url("/AdminConsole/static/images/menuIcons/search.png");
background-repeat: no-repeat;
background-position: 4px center;
}
input[type=text], input[type=password], textarea {
background: #f7f9fa;
border: 1px solid #898989;
padding: 3px;
-webkit-border-radius: 2px !important;
-moz-border-radius: 2px !important;
border-radius: 2px !important;
-moz-box-shadow: inset 0 1px 2px #ccc;
-webkit-box-shadow: inset 0 1px 2px #ccc;
box-shadow: inset 0 1px 2px #ccc;
color: #383939;
}
/*NavABC*/
.page-navigation {
color: #2C8CDF;
font-size: 12px;
font-weight: bold;
height: 35px;
padding: 0;
vertical-align: middle;
margin-top:30px;
}
table.special td.sort a {
font-size: 11px;
line-height: 35px;
}
.page-navigation a.selected {
color: #333333;
}
CustomContent_ItemList.aspxmedia="screen"
.hybrid a {
color: #1E86E3;
}
.page-navigation a {
line-height: 35px;
padding: 0 8px 0 0;
}
a {
color: #1E86E3;
}
a, :focus {
outline: 0;
}


/*Widget*/
.ui-widget-content {
border: 1px solid #aaaaaa;
background: #ffffff url(/CatalystImages/jqueryui/1.8.16/themes/smoothness/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
color: #222222;
}
.ui-widget {
font-family: Verdana,Arial,sans-serif;
font-size: 11px;
}
.ui-icon-triangle-1-e {
background-position: -32px -16px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #999;
background: #34A2FA;
font-weight: normal;
color: #212121;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
border: 1px solid #999999;
background: #34A2FA;
font-weight: normal;
color: #212121;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-khtml-border-bottom-right-radius: 4px;
border-bottom-right-radius: 2px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-khtml-border-bottom-left-radius: 4px;
border-bottom-left-radius: 2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-khtml-border-top-right-radius: 4px;
border-top-right-radius: 2px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px;
border-top-left-radius: 2px;
}
/*END Widget*/

/*DatePicker*/
.ui-daterangepickercontain {
display:none;
position: absolute;
z-index: 9999;
line-height: 12px;
}
.ui-daterangepickercontain .ui-daterangepicker {
float: left;
padding: 5px !important;
width: auto;
display: inline;
background-image: none !important;
clear: left;
}
.ui-daterangepicker ul, .ui-daterangepicker .ranges, .ui-daterangepicker .range-start, .ui-daterangepicker .range-end {
float: left;
padding: 0;
margin: 0;
}
.ui-daterangepicker ul {
width: 17.6em !important;
background: none !important;
border: 0 !important;
}
.ui-daterangepicker li {
list-style: none;
padding: 1px;
cursor: pointer;
margin: 1px 0;
}
.ui-daterangepicker li a {
font-weight: normal;
margin: .3em .5em;
display: block;
}
.ui-daterangepicker .ui-widget-content a {
text-decoration: none !important;
}
.ui-daterangepicker li span {
float: right;
margin: .3em .2em;
}
.ui-daterangepicker li.ui-state-hover, .ui-daterangepicker li.ui-state-active {
padding: 0;
background-color: #1E86E3!important;
color: #fff;
}
.ui-daterangepicker li.ui-state-active a, .ui-daterangepicker li.ui-state-hover a {
color: #fff;
}
.ui-daterangepicker li.ui-state-active {
border-color: #1E86E3;
}
.ui-daterangepickercontain .ui-state-active, .ui-daterangepickercontain .ui-widget-content .ui-state-active, .ui-daterangepickercontain .ui-widget-header .ui-state-active {
background: #1E86E3;
border: 1px solid #1E86E3;
color: #fff;
}
.dropdown-date-button {
width: 150px;
text-align: left;
background: #ffffff;
text-decoration: none;
}
.ui-daterangepicker li.ui-state-hover {
border-color: #1E86E3;
}
/*END DatePicker*/

/*Review Maker*/
div#webform-builder {
min-width: 840px;
}
.field-actions, .form-actions {
display: none;
padding: 6px 6px 5px 6px;
position: absolute;
right: 3px;
top: 0;
width: 40px;
}
.field-actions a, .field-actions span, .form-actions a {
color: #1E86E3;
float: right;
font-size: 12px;
font-weight: bold;
margin: 0 0 0 6px;
text-decoration: none;
text-indent: -9999px;
width: 16px;
}
.field-actions .delete, .form-actions .delete {
background-image: url(/CatalystImages/b16/remove.png);
background-repeat: no-repeat;
}
.field-actions .edit {
background-image: url(/CatalystImages/a16/file-edit.png);
background-repeat: no-repeat;
margin-left: 0;
}
.field-actions .mandatory {
background-image: url(/CatalystImages/a16/delete-alt.png);
background-repeat: no-repeat;
display: block;
height: 16px;
margin: 0;
text-indent: -9999px;
width: 16px;
}
#start-form {
border-bottom: 1px solid #ccc;
margin: 0 0 21px;
position: relative;
}
#container-body #start-form {
margin: -8px -9px 10px -24px;
}
#container-body .hybrid-invisible {
display: none !important;
}
#container-body div#field-buttons h1 {
margin-top: 10px;
margin-left: 10px;
}
#start-form h1 {
padding: 9px;
font-size: 16px;
line-height: 24px;
margin: 0;
overflow: hidden;
}
#start-form h1 span {
color: #888;
display: block;
font-size: 12px;
line-height: 18px;
}
#container-body div.tinywindow h2, #container-body div.smallwindow h2, #container-body div.editorwindow h2, #container-body ul#reports li h2, #container-body div#field-buttons h1, #container-body ul.liste li.heading, #container-body ul.wraplist li.heading, #container-body table.special th {
color: #333333;
font-size: 13px;
font-weight: bold;
text-indent: 0 !important;
background: none;
line-height: normal !important;
height: auto !important;
}
#system-fields ul, #custom-fields ul {
margin: 0;
padding: 0;
}
ul#tabs {
background: #eee;
height: 36px;
margin: 0 0 9px;
}
div#field-buttons div#system-fields ul#tabs {
height: auto;
min-height: 36px;
}
ul#tabs li a {
border-right: 1px solid #d7d7d7;
color: #666;
height: 36px;
float: left;
font-size: 11px;
font-weight: bold;
line-height: 36px;
padding: 0 6px;
}
ul#tabs li.active a {
background: #fff;
font-weight: bold;
color: #000;
cursor: default;
}
#container-body #system-fields ul#tabs li.active a {
background-color: #1E85E3;
color: white !important;
}
#system-fields li, #custom-fields li {
list-style: none;
}
#system-fields ul, #custom-fields ul {
margin: 0;
padding: 0;
}
ul#tabs {
background: #eee;
height: 36px;
margin: 0 0 9px;
}
ul#basic li, ul#product li{
display: inline;
}
ul#basic li.used a, ul#product li.used a{
background: #05B35B;
border: 1px solid #05B35B;
color: #fff;
cursor: default;
}
ul#basic li a, ul#product li a{
background: #fff;
border: 1px solid #BCE8D2;
font-size: 11px;
font-weight: bold;
float: left;
height: 24px;
line-height: 24px;
margin: 3px;
padding: 0 0 0 9px;
width: 166px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
#container-body ul#basic li a, #container-body ul#product li a {
border: 1px solid #888888;
}
#container-body ul#basic li.used a, #container-body ul#product li.used a {
background-color: #1E85E3 !important;
border-color: #888 !important;
}
#container-body #field-buttons h1 {
color: #111111 !important;
}
#field-buttons h1 {
color: #00A351;
font-size: 18px;
font-weight: bold;
margin: 0 0 9px;
}
#field-buttons {
background: #E0FAED;
border: 1px solid #B8EED3;
float: left;
height: 450px;
padding: 15px 24px 24px;
width: 386px;
}
#container-body #field-buttons {
float: left;
}
#container-body #field-buttons {
background-color: #D6EAF5 !important;
border-color: #222222 !important;
}
#container-body div.tinywindow, #container-body div.smallwindow, #container-body div.editorwindow, #container-body div#field-buttons, #container-body ul.liste, #container-body ul.wraplist {
border: 0 !important;
width: auto !important;
}
#container-body div#field-buttons {
width: 425px !important;
padding: 0 10px;
}
div#webform-builder div#field-buttons {
width: 425px;
padding: 9px 9px 9px;
}
div#field-buttons div#system-fields {
height: auto;
min-height: 200px;
margin: 0px;
padding: 0 0 15px;
}
#container-body #system-fields {
border-color: #DDDDDD;
}
#system-fields {
background: #fff;
border: 1px solid #B8EED3;
margin: 0 0 21px;
height: 280px;
}
#form-system-field select {
width: 230px;
}
ul#basic, ul#product {
margin: 0 9px 0;
}
ul#product {
display: none;
}
#container-body #container-header, #container-body #container-nav, #container-body #header, #container-body #actionbox, #container-body #tabs-container, #container-body #helpbox, #container-body #othermenu, #container-body #footer, #container-body .sysok, #container-body .sysalert, #container-body .syserror, #container-body .sysokAutoHide, #container-body .sysalertAutoHide, #container-body .syserrorAutoHide, #container-body .fetchNotificationsIgnore, #container-body #popup h1 {
display: none !important;
}
#wysiwyg {
border: 1px solid #ccc;
border-left: 2px solid #f7f7f7;
display: inline;
float: right;
height: 100%;
margin: 0 11px 0 0;
min-height: 433px;
padding: 9px 24px 24px 24px;
width: 274px;
}
#wysiwyg li label {
color: #000;
display: block;
font-weight: normal;
font-size:12px;
}
#wysiwyg select.cat_dropdown_smaller {
margin: 0 6px 0 0;
width: 110px;
float:left;
}
#container-body div#webform-builder div#wysiwyg {
padding: 9px 10px 24px 24px;
margin-bottom: 20px;
}
div#webform-builder div#wysiwyg {
padding: 12px 12px 12px 12px;
}
#container-body #wysiwyg #output {
margin-left: -14px;
}
#container-body #wysiwyg {
float: left;
width: 235px !important;
}
#wysiwyg input.cat_textbox, #wysiwyg textarea.cat_listbox {
padding: 3px;
width: 220px;
}
#wysiwyg li.actions {
clear: both;
margin: 0;
}
ul#form-settings, ul#form-settings ul, ul#field-settings, ul#field-settings ul, ul#new-field-settings, ul#new-field-settings ul, ul#system-constraints, ul#system-constraints ul {
margin: 0;
padding: 0;
}
ul#form-settings, ul#field-settings, ul#new-field-settings, ul#system-constraints {
position: absolute;
}
ul#form-settings, ul#field-settings, ul#new-field-settings, ul#system-constraints {
background: #e0f0fa;
border: 2px solid #CBE5F6;
padding: 12px;
display:none;
}
.pointer {
position: absolute;
width: 0;
height: 0;
border-bottom-width: 0;
background: none;
}
li.pointer {
border-bottom: 15px solid #CBE5F6;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
height: 0;
left: 30px;
margin: 0;
padding: 0;
position: absolute;
top: -15px;
}
p.fill {
border-bottom: 12px solid #e0f0fa;
border-left: 12px solid transparent;
border-right: 12px solid transparent;
height: 0;
left: -12px;
margin: 0;
padding: 0;
position: absolute;
top: 3px;
}
li.top2-1, li.top2-2 {
border-bottom: 1px solid #CBE5F6;
float: left;
margin: 0 9px 0 0;
padding: 0 0 9px;
}
ul#form-settings li, ul#field-settings li, ul#new-field-settings li, ul#system-constraints li {
list-style: none;
margin: 0 0 9px;
}
ul#field-settings li.top2-1, ul#field-settings li.top2-2, ul#new-field-settings li.top2-1, ul#new-field-settings li.top2-2, ul#system-constraints li.top2-1, ul#system-constraints li.top2-2 {
margin: 0 9px 12px 0;
}
li.top2-1 textarea, li.top2-2 textarea {
width: 150px;
}
li.for-field-type {
background: #ECF4FA;
border: 1px solid #CBE5F6;
clear: both;
margin: 0 0 9px;
padding: 9px;
}
#form-action a#save, li.actions a.save {
background: #1E86E3;
color: #fff;
font-weight: bold;
padding: 3px 9px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
fieldset.choices {
color: #75B0D6;
font-size: 11px;
}
#form-action a#save:hover, li.actions a.save:hover {
background: #000;
}
li.actions a.save {
margin: 0 9px 0 0;
}
/*END Review Maker*/

/*==========Reviews Web App===================*/

.form-rating {
	background: url(/_System/Apps/digifuel-review/assets/images/star.png) no-repeat 0 -22px;
	width: 22px;
	height: 22px;
	display: inline-block;
	margin: 5px 0 1px;
	padding-left:1px;
	padding-right:1px;
	text-indent: -10000px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}

#sortableTable.rgMasterTable .form-rating {
	cursor:default;
}

.form-rating.selected {
	background: url(/_System/Apps/digifuel-review/assets/images/star.png) no-repeat 0 0px;
}

.form-rating.none,.form-rating.none.selected,.form-rating.alt.none,.form-rating.alt.none.selected {
	background: url(/_System/Apps/digifuel-review/assets/images/star-hide.png) no-repeat 0 0px;
	width:10px;
}

.form-rating.alt {
	background: url(/_System/Apps/digifuel-review/assets/images/altRating.png) no-repeat 0 -22px;
}
.form-rating.alt.selected {
	background: url(/_System/Apps/digifuel-review/assets/images/altRating.png) no-repeat 0 0px;
}


/*==========Loading===================*/
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 10000;
}

.loading span{
    display: inline-block;
    height: 90px;
    width: 90px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -45px;
    margin-top: -45px;

    z-index: 10000;
}

.loading.semiopaque span{
    background: url("../images/bg-loading.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.loading span img{
    left: 28px;
    position: absolute;
    top: 27px;
}

.loading .opacifier{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    z-index: 10000;
    opacity: 1;
    background-color: #ffffff;
}

.loading.semiopaque .opacifier{ 
    opacity: 0.5;
}

/*==========Help===================*/
.helpHandle {
display: none;
float:right;
margin-right:5px;
opacity:.75;
width: 16px;
height: 16px;
background: black;
color: white;
line-height: 16px;
text-align: center;
font-weight: bold;
font-size: 13px;
-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
}
.helpLabel {
float:right;
}
#hybridHelp {
position: absolute;
display: none;
width: 200px;
background: #333;
color: white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 10px;
font-size: 12px;
z-index: 10000 !important;
}

.app-help ol, .app-help li {
	list-style: decimal;
	margin-left:20px;
}

.app-help li {
	padding-left:2px;
	margin-bottom:14px;
}

.app-help ul {
  margin-left: 20px;
}

.app-help ul li {
  list-style: disc;
}

.app-help p {
	margin-bottom:14px;
}

.app-help .Q.expand {
	margin-bottom:14px;
}

.app-help .hybridFormExpand + * {
	display:none;
	margin-bottom:0px;
}

.app-help .hybridFormContract + * {
	margin-bottom:26px;
}

.app-help .Q a {
	padding-left:20px;
}

.app-help .Q a:hover {
	color:#000974;
}

.app-help strong {
	font-weight:bold;
}

.app-help .A {
	display:none;
	margin-bottom:14px;
}

.app-help form .A:last-child, .app-help li:last-child, .app-help form p:last-child, .app-help .Q.expand:last-child{
	margin-top:3px;
	margin-bottom:0px;
}

.app-help .hybridFormHeader + * {
	margin-bottom:18px;
}

.app-help #reviewForm {
display:block;
margin-bottom:9px;
margin-top:5px;
}

.app-help form .item {
margin-bottom: 14px;
}

.app-help .review-item {
margin-top:8px;
}

.app-help .review-item .item {
	margin-bottom:0;
}

.app-help .form-rating {
	padding-left:0;
	padding-right:0;
}

.app-help .form-rating.alt {
	margin-top:-3px;
}

.app-help #yourrating {
line-height: 32px;
}

.app-help .starBar {
height: 34px;
line-height: 34px;
float: left;
margin-left: 6px;
padding-bottom: 10px;
padding-top: 5px;
}

.app-help input {
	padding: 5px 15px;
}

.app-help textarea {
	width:600px !important;
}

.app-help select {
	width:130px !important;
}

/*DELETE APP*/
#uninstall-app {
padding: 6px 12px;
color: #000;
border: 1px solid transparent;
border-radius: 3px;
}

/*DELETE APP*/
#delete-app {
background-color: #d9534f;
padding: 6px 12px;
color: #FFF;
border: 1px solid transparent;
border-radius: 3px;
}

/*==========END Reviews Web App===================*/

@font-face {
    font-family: 'BCicons';
    src: url('../fonts/BCicons.eot');
    src: url('../fonts/BCicons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BCicons.woff') format('woff'),
         url('../fonts/BCicons.ttf') format('truetype'),
         url('../fonts/BCicons.svg#bc_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}